@model List<ResultProjectTypeDTO>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/AdminLayout/Index.cshtml";
	int count = 0;
}

<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<div class="container">
	<h3>Proje Kategorisi İşlemleri</h3>
	<br />
	@if (Model.Count() > 0)
	{
		<table class="table table-bordered">
			<tr>
				<th>#</th>
				<th>ID</th>
				<th>Kategori</th>
				<th>Açıklama</th>
				<th>Ana Sayfa</th>
				<th>Durum</th>
				<th>Sil</th>
				<th>Güncelle</th>
			</tr>
			@foreach (var item in Model)
			{
				count++;
				<tr>
					<td>@count</td>
					<td>@item.ID</td>
					<td>@item.ProjectTypeName</td>
					@if (@item.ProjectTypeDescription == null || @item.ProjectTypeDescription.Length <= 30)
					{
						<td>@item.ProjectTypeDescription</td>
					}
					else
					{
						<td>
							<a href="#" id="DescriptionBtn"
							   onclick="return descriptionCategory('@item.ProjectTypeDescription', '@item.ID')">@item.ProjectTypeDescription.Substring(0, 10)...</a>
						</td>
					}
					<td>
						@{
							if (item.IsHome == true)
							{
								<a href="#" onclick="return updateHomeStatus('@item.ID')" class="btn btn-success">Ekle</a>
							}
							else
							{
								<a href="#" onclick="return updateHomeStatus('@item.ID')" class="btn btn-danger">Çıkar</a>
							}
						}
					</td>
					<td>
						@{
							if (item.Status == true)
							{
								<a href="#" onclick="return updateStatus('@item.ID')" class="btn btn-success">Aktif</a>
							}
							else
							{
								<a href="#" onclick="return updateStatus('@item.ID')" class="btn btn-danger">Pasif</a>
							}
						}
					</td>
					<td><a href="#" onclick="return deleteProjectType('@item.ID')" class="btn btn-outline-danger">Sil</a></td>
					<td><a href="/Admin/ProjectType/UpdateProjectType/@item.ID" class="btn btn-outline-success"><i class="fas fa-pen"></i> Güncelle</a></td>
				</tr>
			}
		</table>
	}
	else
	{
		<p>Kayıtlı Herhangi Bir Proje Kategorisi Verisi Bulunmamaktatır.</p>
	}
	<a href="/Admin/ProjectType/CreateProjectType/" class="btn btn-outline-primary"><i class="fas fa-plus-circle"></i> Yeni Kategori Girişi</a>
</div>

<script>
	function descriptionCategory(description, id) {
		Swal.fire({
			title: 'Açıklama',
			text: description,
			icon: 'success',
			showCancelButton: true,
			confirmButtonText: 'Güncelle',
			cancelButtonText: 'Tamam'
		}).then((result) => {
			if (result.isConfirmed) {
				window.location.href = "/Admin/ProjectType/UpdateProjectType?id=" + id;
			}
		});
	}
</script>

<script>
	function deleteProjectType(id) {
		Swal.fire({
			title: 'Silmek istediğinize emin misiniz?',
			text: 'Bu öğeyi silerseniz geri alamazsınız!',
			icon: 'warning',
			showCancelButton: true,
			confirmButtonText: 'Sil',
			cancelButtonText: 'İptal'
		}).then((result) => {
			if (result.isConfirmed) {
				window.location.href = "/Admin/ProjectType/DeleteProjectType?id=" + id;
			}
		});
	}
</script>

<script>
	function updateHomeStatus(id) {
		Swal.fire({
			title: 'Ana Sayfa',
			text: 'Ana Sayfa görünürlüğünü değiştirmek istediğinizden emin misiniz?',
			icon: 'question',
			showCancelButton: true,
			confirmButtonText: 'Değiştir',
			cancelButtonText: 'İptal'
		}).then((result) => {
			if (result.isConfirmed) {
				window.location.href = "/Admin/ProjectType/ChangeHomeStatus?id=" + id;
			}
		});
	}
</script>

<script>
	function updateStatus(id) {
		Swal.fire({
			title: 'Durum',
			text: 'Durumu değiştirmek istediğinizden emin misiniz?',
			icon: 'question',
			showCancelButton: true,
			confirmButtonText: 'Değiştir',
			cancelButtonText: 'İptal'
		}).then((result) => {
			if (result.isConfirmed) {
				window.location.href = "/Admin/ProjectType/ChangeProjectTypeStatus?id=" + id;
			}
		});
	}
</script>